@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400;700);

/* global */

:root {
  --primary-colour1: hsl(179, 62%, 43%);
  --primary-colour2: hsl(71, 73%, 54%);
  --neutral-colour1: hsl(204, 43%, 93%);
  --neutral-colour2: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  font-size: 16px;
}

p {
  margin: 5px 0;
  color: var(--neutral-colour1);
}

h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}

.root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.box {
  padding: 40px;
}

div > h4 {
  color: var(--neutral-colour1);
}

/* info box */

.info-box h3 {
  color: var(--primary-colour1);
}

.info-box p {
  color: var(--neutral-colour2);
}

.guarantee {
  color: var(--primary-colour2);
}

.bottom-box {
  display: flex;
  justify-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  width: 700px;
}

/* price box */

.price-box {
  background-color: var(--primary-colour1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-bottom-left-radius: 10px;
}

.price-line {
  display: flex;
  align-items: center;
  color: var(--neutral-colour1);
}

.price-line > h2 {
  margin: 0 10px 0 0;
}

button {
  width: 100%;
  height: 3rem;
  color: var(--neutral-colour1);
  background-color: var(--primary-colour2);
  font-size: 16px;
  margin-top: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-self: center;
}

button:active {
  outline: none;
}

/* about box */

.about-box {
  display: flex;
  flex-direction: column;
  background-color: hsla(179, 62%, 43%, 0.75);
  flex: 1;
  border-bottom-right-radius: 10px;
}

.about-box p {
  color: hsl(218, 22%, 85%);
  margin: 0;
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
  .box {
    padding: 20px;
  }
  .bottom-box {
    flex-direction: column;
    width: auto;
  }
}
